@import "tailwindcss";

@theme {
    --font-sans: 'Inter', system-ui, sans-serif;
    --color-neon-blue: #00f3ff;
    --color-neon-purple: #bc13fe;
}

@variant dark (&:where(.dark, .dark *));

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    @apply bg-slate-100 dark:bg-slate-950;
}

::-webkit-scrollbar-thumb {
    @apply bg-slate-300 dark:bg-slate-800 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-indigo-500;
}

/* Selection Color */
::selection {
    background: rgba(99, 102, 241, 0.3);
    color: inherit;
}

body {
    @apply bg-white dark:bg-slate-950 text-slate-900 dark:text-white transition-colors duration-300 overflow-x-hidden;
    cursor: default;
}